@import "./variables";

.article-url,
.view-search {
  color: $textLink;
  &:hover {
    cursor: pointer;
    color: $hoverLink;
  }
}

.cover {
  position: relative;
  cursor: pointer;
  .desc {
    position: absolute;
    top: 0;
    opacity: 0;
    background: $opaqueBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      color: $textTitle;
    }
    .description {
      color: $textDesc;
      font-size: 0.8em;
      line-height: 100%;
    }
  }
  &:hover .desc {
    opacity: 1;
  }
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.w-90 {
  width: 90%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.Placeholder {
  text-align: center;
  .Placeholder-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $textWhite;
    .Placeholder-logo {
      height: 40vmin;
      pointer-events: none;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Placeholder-logo {
    animation: Placeholder-logo-spin infinite 20s linear;
  }
}

@keyframes Placeholder-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
